.app {
  background-image: url("/public/assets/background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Arial", sans-serif;
}
